/*  Fonts Used
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster Two', cursive;*/
/*
colors Used
#fb7813
#00bdaa
#481380
#fbecec
*/

.source{
    margin: 0;
    background-color: #481380;
}

.work{
    margin: 0;
    background-color: #00bcd4;
}

.About{
  margin: 0;
    background-color: #fbecec;
}

body{
  margin: 0;
  background-color: #fb7813;
}

.Top-bar{
  background-color: #1b262c;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.Name{
  background-color: #1b262c;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.Name h1{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-top:  0;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  color: #eaffd0;
  margin-bottom: 0px;
}
.Top-bar a{
  color: #eaffd0;
  margin: 10px;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.Top-bar :hover{
    background: #eeeeee;
    color: black;
  }

  .overview{
    
    width: 100%;
    margin: 40px 0px;

  
  }

  .overview img{
    display: flex;
    height: 300px;
    margin: auto;
  }

  .intro{
    margin: 0 auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: #f4f9f4;
  }
.walking{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.walk{
  
  height: 400px;
}

.qt{
  color: #ffc93c;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  
  width: 100%;
}
.Quotes{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.quote{
  display: flex;
  flex-wrap: wrap;
}
.qpic
{
  height: 250px;
  width: 250px;
  margin: 10px 10px;
}
.qspic{
  height: 250px;
  margin-left: 185px;
}

.foot{
  width: 100%;
  
  position : relative;
  top: 100px;
  text-align: center;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top:0;
  margin-bottom: 0;
  padding: 20px 0px;
}
.Contacts{
  height: 40px;
  padding : 5px 20px;
}

.abouttext{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 100px;
  margin-left: 30px;
  font-size: 30px;
  display: block;
  
  width: 100%;
  
}
.text{
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;


}
.front-pic{
  
  position: absolute;
  margin-left: 600px;
  top: 141px;
}
.Hobbies{
  font-family: 'Josefin Sans', sans-serif;
  width:100%;
}
.game{
  width: 250px;
  height: 250px;
  float: left;
}
.life{
  width: 200px;
  height: 200px;
  float: right;
  margin-right: 20px;
}
.cricket{
  margin-top: 10px;
  
  width: 200px;
  height: 200px;
  
}
li{
  padding-top: 20px;
  color: #ffc93c;
}

.skills{
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  padding-left: 50px;
}
.skill-img{
  width:100px;
  height: 100px;
  padding-right: 20px;
}

.sources_prog21{
  width:400px;
  height:300px;
  position:relative;

}
.sources_prog{
  
  
  left:150px;
  top:80px;
}
.icons-foot{
  height: 40px;
  display: inline-block;
}
.gaming{
  display: flex;
  align-items: center;
  padding: 40px;
  
}
.social_media{
  display: flex;
  align-items: center;
  padding: 40px;
}
.cricket_info{
  display: flex;
  align-items: center;
  padding: 40px;
  
}
.img{
  margin-left: 10px;
}
.info{
  font-size: 20px;
}
.prog11{
  height: 350px;
  width: 500px;
}
.app-develop{
  display: flex;
}
.competetive{
  display: flex;
}
.webd{
  display: flex;
}
.work-about{
  margin-top: 50px;
}
.kiv-mob{
  width: 175px;
}
.kivy{
  width:150px;
}
@media(max-width:1150px){
  .sources_prog21{
    top:0px;
  }
  .front-pic{
    position: unset;
    margin-left: 0px;
    top: 0px;
  }
  .abouttext{
    font-size: 25px;
  }
  .skill-img{
    width:90px;
    height: 90px;
    padding-right: 20px;
  }
}
@media(max-width:800px)
{
  .abouttext{
    width: 75vw;
    font-size: 22px;
  }
  .sources_prog{
    width: 500px;
    height: 400px;
  }
  .front-pic{
    width: unset;
    height: unset;
  }
  .sources_prog21{
    left: 0px; 
  }
  .prog11{
    height: 250px;
    width: 350px;
  }
  .skill-img{
    width:80px;
    height: 80px;
    padding-right: 20px;
  }
  .kiv-mob{
    width: 150px;
  }
  .kivy{
    width:140px;
  }
  .skills{
    padding-left: 5px;
  }
}
@media(max-width:600px)
{
  .app-develop{
    flex-direction: column;
  }
  .competetive{
    
    flex-direction: column;
  }
  .webd{
    flex-direction: column;
  }
  .work-about{
    width: 90vw;
  }
  .skill-img{
    width:70px;
    height: 70px;
    padding-right: 20px;
  }
  .kiv-mob{
    width: 150px;
  }
  .kivy{
    width:130px;
  }
  .skills{
    padding-left: 5px;
  }
}
@media(max-width:550px)
{
  .kiv-mob{
    width: 150px;
  }
  .sources_prog{
    width: 400px;
    height: 300px;
  }
  .work-about{
    width: 90vw;
  }
  .prog11{
    height: 300px;
    width: 400px;
  }
  .gaming{
    flex-direction: column;
  }
  .social_media{
    flex-direction: column-reverse;
  }
  .cricket_info{
    flex-direction: column;
  }
  .skill-img{
    width:60px;
    height: 60px;
    padding-right: 10px;
  }
  .skills{
    padding-left: 5px;
  }
  .kivy{
    width:120px;
  }
}
@media(max-width:400px)
{
  .skill-img{
    width:60px;
    height: 60px;
    padding-right: 10px;
  }
  .kiv-mob{
    width: 125px;
  }
  .walk{
    width: 300px;
    height: 300px;
  }
  .intro{
    font-size: 35px;
  }
  .qt{
    font-size: 35px;
  }
  .skills{
    padding-left: 5px;
  }
  .topbar{
    background-color: #1b262c;
    display: block;
    width: 100%;
    padding: 20px 0px;
  }
  
  .overview img{
    display: flex;
    height: 200px;
    width: 200px;
    margin: auto;
  }
  .abouttext{
    width: 75vw;
    font-size: 22px;
  }
  .front-pic{
    width: unset;
    height: unset;
  }
  .sources_prog21{
    left: 0px; 
    width: 300px;
    height: 250px;
  }
  .sources_prog{
    width: 320px;
    height: 250px;
  }
  .prog11{
    height: 250px;
    width: 350px;
  }
  .kivy{
    width:110px;
  }

  .work-about{
    width: 90vw;
  }
}
@media(max-width:300px)
{
  .skills{
    padding-left: 5px;
  }
  .kivy{
    width:100px;
  }
  .work-about{
    width: 90vw;
    font-size: 20px;
  }
  .sources_prog{
    width: 250px;
    height: 200px;
  }
  .abouttext{
    width: 75vw;
    font-size: 22px;
  }
  .front-pic{
    width: unset;
    height: unset;
  }
  .sources_prog21{
    left: 0px; 
    width: 250px;
    height: 200px;
  }
  .work-about{
    width: 85vw;
    font-size: 18px;
  }
  .prog11{
    height: 240px;
    width: 300px;
  }
}